.card{
    width: 20vw;
    height: inherit;
    border: 1px solid white;
    position: relative;
    left: 80px;
}

.profile-image{
    width: 80px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 10px;
}
.card-body{
    color: black;
    font-size:14px;
    border: 1px solid white;
}
.card-title{
    color: black;
    text-align: center;
    font-size:14px; 
}
.card-text{
    color: black;
    position: relative;
    top: 10px;
    font-size:14px; 
}
.profile-btn-container{
    display: flex;
    justify-content: space-between;
    width: 15vw;
    margin-left: auto;
    margin-right: auto;
}
.logout-button:disabled{
    background-color: gray !important;
    cursor: not-allowed;
}